.t-descriptions {
  span {
    margin-left: var(--td-comp-margin-xxl);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    background: var(--td-success-color);
    border-radius: var(--td-radius-circle);
    display: inline-block;
    height: 8px;
    width: 8px;
  }

  .inProgress {
    color: var(--td-success-color);
  }

  .pdf {
    color: var(--td-brand-color);

    &:hover {
      cursor: pointer;
    }
  }
}
