GRAFT_APP_NAME=graft
GRAFT_APP_ENV=local
GRAFT_HTTP_ADDR=:8080
GRAFT_DATABASE_DRIVER=postgres
GRAFT_DATABASE_DSN=host=localhost port=5432 user=graft password=graft dbname=graft sslmode=disable TimeZone=Asia/Shanghai
GRAFT_REDIS_ADDR=localhost:6379
GRAFT_REDIS_PASSWORD=
GRAFT_REDIS_DB=0
GRAFT_LOG_LEVEL=info
